:root {
    --primary-light: ddd;
    --primary-dark: #222831;
    --secondary-dark: #222950;
    --header: #111720;
    --primary-font-color: white;
    --box-color: rgb(50, 44, 44);
    --box-color-hover: rgb(61, 58, 58);
}

html {
    font-size: 62.5%; /*This makes the font size easier to use with rem. 62.5 = 10px. 1.4rem = 14px*/
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: var(--primary-dark);
}

h1,h2,h3,h4,h5,h6,p {
    margin: 0;
    padding: 0;
    color: var(--primary-font-color);
}

img {
    width: 100%;
    height: 100%;
}

h2,h3 {
    font-weight: bold;
    text-align: center;
    line-height: 1.3em;
}

h2 {
    font-size: 3.5rem;
}

h3 {
    font-size: 3rem;
    font-weight: lighter;
}

#header {
    text-align: center;
    background-color: var(--header);
    color: var(--primary-font-color);
    padding: 2.5em;
    font-size: 2rem;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2em;
}

.scoreboard {
    display: flex;
    height: 15em;
    margin: 3.5em;
}

.score {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-left: 4.5em;
    padding-right: 4.5em;
}

.box {
    width: 14em;
}

.score > p {
    display: inline-block;
    margin-top: 0.8em;
    font-size: 2rem;
    font-weight: bold;
    height: 0.1em;
}

.question-mark {
    font-size: 12em;
    color: rgba(255, 255, 255, 0.407);
}

.weapons { 
    display: flex;
    margin-top: 4em;
}

.weapon {
    background-color: var(--box-color);
    margin: 1em;
    padding: 1.5em;
    min-height: 8em;
}

.weapon:hover {
    background-color: var(--box-color-hover);
}

.img {
    width: 100%;
    max-width: 100%;
    height: 100%;
    min-height: 100%;
}

.overlay {
    display: flex;
    background-color: rgba(24, 22, 22, 0.62);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    align-items: center;
    justify-content: center;
}

.win, .lose {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 5em;
}

.result {
    background-color: var(--primary-dark);
    width: 30vw;
    padding: 5em;
    border-radius: 3em;
}

.button {
    width: 10vw;
    padding: 1em;
    margin: 3rem;
}

@media (max-width: 50em) {
    #header {
        font-size: 1.5rem;
    }
    h2 {
        font-size: 3rem;
    }
    h3 {
        font-size: 2rem;
    }

    .box {
        width: 7em;
    }

    .score > p {
        font-size: 2.3rem;
        white-space: nowrap;
    }

    .score > img {
        width: 150%;
        max-height: 50%;
    }

    .question-mark {
        font-size: 9em;
    }
}
